<template>
    <button id = 'cartbutton' class  = 'button is-success' @click = 'addToCart()'>Add to Cart</button>
</template>

<script>
import {api} from '../gateways/api'
export default {
    props: ['id', 'productid'],
    methods: {
        addToCart() {
            var button = document.getElementById('cartbutton');
            if(window.sessionStorage.uid == undefined) {
                this.$router.push({path: "/login"});
            }
            button.classList = 'button is-success is-loading';
            //push product id to user's cart
            api.post('/addtocart', {productid: this.productid})
            .then(response => {
                self = this;
                window.sessionStorage.cartid = response.data.id;
                setTimeout(function() {
                    button.classList = 'button is-success';
                    console.log("Ping!");
                    self.message = "Added to cart!";

                    setTimeout(function() {
                        self.message = '';
                        console.log("done!");
                    }, 1000);
                }, 500);
            });
        },
    }
}
</script>
<style scoped>
</style>