<template>
    <div class = 'box product shadow'>
        <p class = 'productname'>{{name}}</p>
        <img v-bind:src = "`./static/productpics/${productid}.jpg`"/>
        <router-link :to = "'product/details/' + id" style = 'color: black;'>
            <div class = 'productsummary'>
                <p class = 'brand'>{{brand}}</p>
                <p v-html="summary"></p>
            </div>
        </router-link>
            <div class = 'mylevel cartactions'>
                <p class = 'mylevel-left'>₦ {{price}}</p>
                <button class  = 'button is-success mylevel-right cartbutton' :class = 'buttonstate' @click = 'addToCart()'>Add to Cart</button>
            </div>
            <p class = 'message has-text-centered has-text-success'>{{message}}</p>
    </div>
</template>

<script>
import {api} from '../gateways/api'
export default {
    name: 'productcard',
    data () {
        return {
            summary: "",
            buttonstate: '',
            message: ''
        }
    },
    props: ['name', 'brand', 'desc', 'productid', 'price', 'id'],
    methods: {
        addToCart() {
            this.buttonstate = 'is-loading';
            if(window.sessionStorage.loggedin === true) {
                console.log("Logged in.");
                //push product id to user's cart
                api.post('/addtocart', {productid: this.productid})
                .then(response => {
                    self = this;
                    window.sessionStorage.cartid = response.data.id;
                    setTimeout(() => {
                        self.buttonstate = '';
                        console.log("Ping!");
                        self.message = "Added to cart!";
                        var cartbutton = document.getElementById('cartbutton');

                        setTimeout(() => {
                            self.message = '';
                            console.log("done!");
                        }, 1000);
                    }, 500);
                });
            }
            else {
                console.group('User not logged in. Adding products to cart.');
                console.log("Not logged in.");
                if(!window.localStorage.cart) {
                    console.log("No local cart on system. Creating one...");
                    window.sessionStorage.localcart = {};
                }
                for(product in window.localStorage.products) {
                    console.log("Printing product");
                    console.log(product);
                    if(product.id == this.productid) {
                        window.sessionStorage.localcart.push(productid);
                    }
                }
                console.groupEnd();
            }
        },
        summarize(wordy) {
            var trimmed = wordy.replace(/^(.{60}[^\s]*).*/, "$1");
            if (trimmed.length < wordy.length) {
                trimmed = trimmed + '... <b class = \'is-uppercase has-text-grey-dark text-tiny\'>[Read more]</b>';
            }
            return trimmed;
        }
    },
    created () {
        this.summary = this.summarize(this.desc);
    } 
}
</script>

<style scoped>
.product{
    width: 250px;
    height: 400px;
    margin: 0 auto;
}
.product img{
    height: 50%;
    width: 100%;
}

.productname {
    font-size: 18px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.productsummary {
    margin-top: 0;
    font-size: 14px;
    padding: 0 0.5em;
    height: 100px;
}
.brand {
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
    color: grey;
    margin: 0 auto;
}
.message {
    font-weight: bold;
}
.mylevel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>