<template>
    <div class = 'container'>
        <div class = 'level'>
            <div class = 'level-left'><router-link to = '/cart' class = 'button is-primary'>Back</router-link></div>
            <div class = 'level-right'><a class = 'button is-success' @click = 'confirmorder()'>Confirm Order</a></div>
        </div>
        <div id = 'loadingorder'> 

        </div>
        <p class = message>{{message}}</p>
        <div class = 'field'>
            <label class = 'label'>Please confirm your email address</label>
            <div class = 'control'>
                <input class = 'input email is-primary' type = 'text' v-model= 'email' placeholder="Please put in your email address" >
            </div>
        </div>
        <div class = 'field'>
            <label class = 'label'>Please confirm your phone number</label>
            <div class = 'control'>
                <input class = 'input areacode is-primary' maxlength = 4 type = 'tel' v-model= 'areacode' placeholder="Area code e.g (+234)">      
                <input class = 'input dash' value = '0' readonly>
                <input class = 'input phonenum is-primary' maxlength = 10 type = 'tel' v-model= 'phonenum' placeholder="Please put in your phone number" >
            </div>
        </div>
    </div>
</template>

<script>
import {api} from '../gateways/api'
export default {
    data() {
        return{
            name: 'Please put in your phone number',
            fullphonenum: '',
            phonenum: window.sessionStorage.phone,
            email: window.sessionStorage.email,
            message: '',
            areacode: '+234'
        }
    },
    methods: {
        confirmorder: function() {
            var loader = document.getElementById('loadingorder');
            loader.classList = 'loader';

            api.patch(this.userurl,{
                phonenumber: this.phonenum,
                email: this.email
            });

            this.fullphonenum = this.areacode + this.phonenum;
            console.log(this.fullphonenum);

            api.post('/neworder',{
                user: window.sessionStorage.uid,
                cart: window.sessionStorage.cartid,
                email: this.email,
                phone: this.fullphonenum})
                .then(response =>{
                    console.log(response.data);
                    this.message = response.data;
                    loader.classList = '';
                })
                .catch(function(error){
                    this.message = "Error";
                    loader.classList = '';
                });
        }
    },
    created () {
        console.log("-------------------CHECKOUT--------------------");
        if(window.sessionStorage.uid == undefined) {
            console.log("Sorry. Not logged in. Can't do that");
            this.$router.push({path: "/login"});
        } else {
            this.carturl = '/shoppingcart/' + window.sessionStorage.cartid;
            this.userurl = '/user/' + window.sessionStorage.uid;
            console.log(this.usercart);
        }
    }
}
</script>

<style>
.email {
    width: 20em;
    margin: auto;
}
.areacode {
    width: 4em;
    display: inline-block;
}
.dash {
    width: 2em;
    display: inline-block;
    text-align: center;
}
.phonenum {
    display: inline-block;
    width: 9em;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
