<template>
    <div>
        <h3 class = 'subtitle is-1' style ="text-align: center;">Best Performing Items</h3>
        <div class = 'grid'>
            <product-card :productid = 'productlistings[0].productid'  
            :name = 'productlistings[0].name' :desc = 'productlistings[0].description' :brand = 'productlistings[0].brand' :price = 'productlistings[0].price' :id = 'productlistings[0].id'>
            </product-card>
            <product-card :productid = 'productlistings[2].productid' 
            :name = 'productlistings[2].name' :desc = 'productlistings[2].description' :brand = 'productlistings[2].brand' :price = 'productlistings[2].price' :id = 'productlistings[2].id'>
            </product-card>
            <product-card :productid = 'productlistings[4].productid'
            :name = 'productlistings[4].name' :desc = 'productlistings[4].description' :brand = 'productlistings[4].brand' :price = 'productlistings[4].price' :id = 'productlistings[4].id'>
            </product-card>
        </div>
    </div>
</template>

<script>
    //import dotenv from 'dotenv'
    import {api} from '../gateways/api'
    import ProductCard from '../components/ProductCard.vue'
    export default {
        name: 'home',
        components: {   
            'product-card': ProductCard
        },
        data() {
            return{ 
                productlistings: 0,
            }
        },
        created() {
            console.log("Products from local storage:\n");
            console.log(window.localStorage.products);
            
            /*----------------List products on frontpage------------------------*/
            api.get('/products').
            then((response) => {
                this.productlistings=response.data;
            });

            /*-------------------Testing environment variables-----------------------*/
            console.log(process.env.NODE_ENV);
        },
        mounted() {
            /**--------------------Create Frontpage banner------------------ */
            document.body.className = 'home';
            var herohome = document.getElementById('banner');
            herohome.innerHTML += 
            '<div id = "herobody" class="hero-body">\
                <div class="container">\
                    <p class= "title">Demo Online Store. Everything is sold here!</p>\
                    <p class= "subtitle">Purchases are free, shipping is instant</p>\
                </div>\
            </div>';
            herohome.classList = 'hero header-image is-large';
        },

        beforeDestroy() {
            /*----------------Destroy frontpage banner---------------------*/
            var herohome = document.getElementById('banner');
            herohome.classList = '';
            var herobody = document.getElementById('herobody');
            herohome.removeChild(herobody)
        }
    }
</script>

<style>
.header-image{
    background-image: url("~@/assets/banner.jpeg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #999;
    margin-bottom: 10%
}

.shadow:hover {
    box-shadow: 12px 12px 7px 3px rgba(90, 15, 97, 0.329);
}
.text-tiny {
    font-size: 0.5rem;
}
</style>