<template>
    <div class = 'container'>
        <div class = 'tile is-ancestor'>
            <div class = 'tile is-parent is-vertical is-3'>
                <div class = 'tile is-child is-clipped'>
                    <img :src = "`./static/productpics/${details.productid}.jpg`" class = 'image'/>
                </div>
            </div>
            <div class = 'tile is-parent is-vertical'>
                <h1 class = 'title has-text-centered'>{{details.name}}</h1>
                <div class = 'tile is-child'>
                    <p class = 'is-size-5 has-text-centered'>{{details.description}}</p>
                    <p class = 'tile is-child has-text-centered is-size-4'>₦ {{details.price}}</p>
                </div>
                <div class = 'tile'>
                    <cartbutton class = 'tile is-child' :id = 'details.id' :productid = "details.productid"></cartbutton>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {api} from '../gateways/api'
import CartButton from '../components/CartButton.vue'
export default {
    data() {
        return{
            details: '',
        }
    },
    components: {
        cartbutton: CartButton
    },
    beforeMount() {
        //this.productid = this.$route.params.id;
        console.log(this.productid);
        api.get(`products/${this.$route.params.id}`)
        .then(response=> {
            this.details = response.data;
        });
    }
}
</script>

