<template>
    <div class = "container">
        <div v-if = 'user'>
            <h1 class = 'title has-text-centered has-text-success'>Welcome {{user}}</h1>
            <div>
                <h2>My Account</h2>
                email Address: {{deets.email}}
            </div>
            <div class = 'placeholder'>
                <br /><p class = 'subtitle has-text-centered'>Go to the <router-link to = '/products'>Products</router-link> page and start adding items to your cart!<br />
                Be sure to check out the Glass Slipper from our Sponsored Partner, Dusty!</p>
            </div>
        </div>
        <div v-else>
            <h1 class = 'title has-text-centered'>Please <router-link class = 'has-text-grey-darker' to = '/login'>Login</router-link></h1>
            <div class = 'placeholder'>
                <br /><p class = 'subtitle has-text-centered'>Be sure to check out the Glass Slipper from our Sponsored Partner, Dusty!</p>
            </div>
        </div>
    </div>
</template>

<script>
import {api} from '../gateways/api'
export default {
    data() {
        return{
            user: window.sessionStorage.unameCaps,
            deets: ''
        }
    },
    created() {
        api.get('/user/5c7a34e46afbd5354d25e809')
        .then((result)=> {
            this.deets = result;
        })
        if(!this.user) {
            console.table(window.sessionStorage);
            if(window.sessionStorage.uname) {
                console.log('Uname exists', window.sessionStorage.uname);
                window.location.reload();
            } else {
                this.$router.push({path: "/login"});
            }
        }
    }
}
</script>
<style scoped>
.placeholder{
    height: 40vh;
}
</style>