<template>
    <div class = 'columns is-fullheight'>
        <aside class="adminmenu is-sidebar-menu column is-2">
            <div class = 'containersecond'>
                <p class = 'menu-label has-text-white'>Admin</p>
                <ul class = 'menu-list has-text-white'>
                    <li><router-link class = 'has-text-white' to='/admin/dashboard'>Dashboard</router-link></li>
                </ul>
                
                <p class = 'menu-label has-text-white'>Products</p>
                <ul class = 'menu-list has-text-white'>
                    <li><router-link class = 'has-text-white' to="/admin/products">View Products</router-link></li>
                    <li><router-link class = 'has-text-white' to="/admin/createproduct">Create Product</router-link></li>
                </ul>

                <p class = 'menu-label has-text-white'>Users</p>
                <ul class = 'menu-list has-text-white'>
                    <li><router-link class = 'has-text-white' to="/admin/customers">View Customers</router-link></li>
                    <li><router-link class = 'has-text-white' to="/admin/customernew">Create Customer</router-link></li>
                    <li><router-link class = 'has-text-white' to="/admin/products">View Admins</router-link></li>
                    <li><router-link class = 'has-text-white' to="/admin/admin-new">Create Admin User</router-link></li>
                </ul>
            </div>
        </aside>

        <div class = 'column is-main-content'>
            <!-- Outlet for children routes -->
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        created() {
            console.log("-------------------CART--------------------");
            if(window.sessionStorage.admin == undefined) {
                console.log("Sorry. You are not admin.");
                this.$router.push({path: "/admin/login"});
            }
        }
    }
</script>

<style>
    .adminmenu {
        background: #4a4a4a;
    }
    .containersecond {
        padding: 1em 2em;
    }
</style>
