<template>
  <div>
      <div class = 'level has-text-centered'>
        <div class = 'level-item'>
          <div>
            <p class = 'title'>{{users.length}}</p>
            <p class = 'heading'>Users</p>
          </div>
        </div>
        <div class = 'level-item'>
          <div>
            <p class = 'title'>{{products.length}}</p>
            <p class = 'heading'>Products</p>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import {api} from '../../gateways/api'
export default {
  data () {
    return {
      users: 0,
      storenavbar: '',
      products: 0
    }
  },
  created() {
    api.get('/user')
    .then(result => {
      this.users = result.data
    }),

    this.storenavbar = document.getElementById('storenav');

    api.get('/products')
    .then(result=>{
      this.products = result.data
    })
  }
}
</script>
